.blogContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    max-width: 1052px;
    width: 100%;
}

.blogContainer img {
    width: 250px;
    height: 185px;
    border-radius: 20px;
    object-fit: contain;
}

.blogInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blogInfo .date {
    color: #91AED6;
    font-size: 13px;
    font-family: Montserrat;
    font-weight: 700;
    /*line-height: 32px;*/
}

.blogInfo .title {
    color: #FFF;
    font-size: 18px;
    font-family: Rock Star;
    line-height: 30px;
    text-transform: uppercase;
}

.blogInfo .text {
    color: #FFF;
    font-size: 16px;
    font-family: Montserrat;
    line-height: 32px;
    text-transform: none;
}

@media screen and (max-width: 1200px) {
    .blogContainer {
        align-items: flex-start;
    }

}

@media screen and (max-width: 780px) {
    .blogContainer {
        flex-direction: column;
    }
    .blogContainer img{
        object-position: top left;
        width: 100%;
        object-fit: cover;
        height: 242px;
    }
}
@media screen and (max-width: 500px) {
    .blogContainer{
        gap: 20px;
    }
    .blogInfo .title{
        font-size: 14px;
    }
    .blogInfo .date{
        font-size: 11px;
    }
    .blogInfo .text{
        display: none;
    }
}
@media screen and (max-width: 330px) {
    .blogContainer img{
        height: 200px;
    }
}