.logoContainer {
  padding-top: 23px;
  cursor: pointer;
  width: 207px;
  /*height: 63px;*/
  /*filter: drop-shadow(0 -0.75rem 1.75rem #0AF);*/

}
.logoContainer img {
    width: 207px;
    height: 63px;
}
@media (max-width: 1200px) {
  .logoContainer {
    margin-left: 12px;
  }
}

@media (max-width: 780px) {
  .logoContainer {
    padding: 0;
    margin: auto;
  }
}

@media (max-width: 430px) {
  .logoContainer img {
    width: 132px;
    height: 37px;
  }
  .logoContainer {
    width: 132px;
    height: 37px;
    padding: 0;
    margin: auto;
  }
}
